* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  margin: 10px 0;
  line-height: 3rem;
  font-size: 1.6rem;
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

/* HEADER */

.header {
  height: 60px;
  background-color: #1d232b;
  width: 100%;
  position: fixed;
  opacity: 0.7;
  z-index: 10;
}

.header__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.header__logo {
  line-height: 60px;
  width: 45%;
}

.header__logo span {
  color: #03cacb;
}

.header__nav {
  width: 55%;
}

.header__nav ul {
  list-style-type: none;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header__nav ul li a {
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.6rem;
}

.header__nav ul li::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  display: block;
}

.header__nav ul li a:hover {
  color: #03cacb;
  text-decoration: none;
}

.header__nav ul li:hover::after {
  background-color: #03cacb;
}

/* BANNER */

.banner {
  background-image: url(../img/b1.jpg);
  color: white;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__container {
  margin-top: 30px;
  text-align: center;
}

.banner__container h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

.banner__container h3 {
  color: #f3eaece1;
  font-weight: 500;
}

/* ABOUT */

#about h1 {
  text-align: center;
}

.about__container {
  margin: 40px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about__item {
  text-align: center;
  margin: 0 auto;
  width: 30%;
}

.about__item i {
  width: 70px;
  height: 70px;
  border: 1px solid #a39d9e;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  font-size: 20px;
}

.about__item p {
  color: #a39d9e;
}

.about__us {
  text-align: center;
}

.about__us h2 {
  color: #03cacb;
}

/* STATS */

.stats {
  background-color: #03cacb;
}

.stats h1 {
  text-align: center;
}

.stats__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.stats__item {
  text-align: center;
}

.stats__item h1 {
  color: white;
}

/* BLOG */

#blog h1 {
  text-align: center;
}

.blog__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px 0 10px;
}

.blog__item {
  background-color: #efefef;
  width: 30%;
}

.blog__item hr {
  margin: 0;
  border: 3px solid #03cacb;
  background-color: #03cacb;
}

.blog__item img {
  width: 100%;
}

.blog__item h3 {
  margin-top: 10px;
  color: #03cacb;
  margin-left: 10px;
}

.blog__item p {
  margin-left: 10px;
}

/* button */

button {
  color: #03cacb;
  background-color: black;
  border: none;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  font-size: 1.6rem;
}

/* GET MORE  */

.getmore__left {
  float: left;
  width: 45%;
  height: 42rem;
}

.getmore__left img {
  width: 100%;
  height: 100%;
}

.getmore__right {
  background-color: #03cacb;
  float: left;
  text-align: center;
  width: 55%;
  height: 42rem;
}

.getmore__right p {
  color: white;
}

.clear {
  clear: both;
}

/* PORTFOLIO */

#portfolio h1 {
  text-align: center;
}

.portfolio__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 40px auto 0;
}

.portfolio__item img {
  width: 100%;
}

/* SUBSCRIBE */

.subcribe {
  background-color: #03cacb;
  padding: 0 15%;
}

.subcribe h1 {
  text-align: center;
}

.subcribe p {
  text-align: center;
  color: white;
}

.subcribe__form {
  text-align: center;
}

.subcribe__txtemail {
  width: 70%;
  height: 30px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.subcribe__btnsubmit {
  width: 25%;
  font-size: 2rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  padding: 5px;
}

/* OUR AGENTS */

#agents h1 {
  text-align: center;
}

.agents__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.agents__item {
  margin: 5px auto;
  width: 23%;
}

.agents__item img {
  width: 100%;
  display: block;
}

.agents__info {
  background-color: #1d232b;
  text-align: center;
  padding: 10px;
}

.agents__info h2 {
  margin-top: 10px;
  color: #03cacb;
}

.agents__info p {
  color: white;
  margin-bottom: 10px;
}

.agents__contact {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.agents__contact a>i {
  border: 1px solid white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
}

.agents__contact a>i:hover {
  color: #03cacb;
}

/* ARROWUP */

.arrowup {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 8;
  opacity: 0.7;
}

.arrowup:hover {
  opacity: 1;
}

.end {
  margin: 0;
  border: 2px solid #03cacb;
  height: 5px;
  color: gray;
}

/* RESPONSIVE  */

@media screen and (max-width:1200px) {
  /* portfolio */
  .protfolio__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:992px) {
  html {
    font-size: 8px;
  }
  /* header */
  .header__logo {
    width: 40%;
  }
  .header__nav {
    width: 60%;
  }
  /* agents */
  .agents__item {
    width: auto;
  }
  /* portfolio */
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:768px) {
  html {
    font-size: 6px;
  }
  p {
    font-size: 1.8rem;
  }
  .header__nav {
    font-size: 10px;
    width: 70%;
  }
  /* about */
  .about__item {
    width: auto;
  }
  /* blog */
  .blog__item {
    width: auto;
  }
  /* portfolio */
  .portfolio__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width:576px) {
  html {
    font-size: 5px;
  }
  /* get more */
  .getmore__left {
    width: 100%;
  }
  .getmore__right {
    width: 100%;
  }
}